#acp {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1)),
    url("images/dog-on-grass1.jpg") no-repeat center;
    background-size: cover;
    margin-top:10px;
    padding-top:100px;
    padding-bottom: 100px;
}
body {
    background-color:lavender;
}
h1 {
    color:White;
    text-align:center;
}
#responses {
    padding-top:50px;
    background-color:lightblue;
    margin:10px;
    padding-bottom:10px;
}
#about {
    padding-top:50px;
    background-color:#87CEFA;
    margin:10px;
    padding-bottom:10px;
}
#rewards {
    padding-top:50px;
    background-color:#B0E0E6;
    margin:10px;
    padding-bottom:10px;
}
#contact {
    padding-top:50px;
    background-color:grey;
}
#volunteer {
    background-color:#87CEFA;
    padding-bottom:10px;
}
#adoption {
    background-color:lightblue;
    padding-bottom:10px;
}
#donation {
    background-color:#F0F8FF;
    padding-bottom:10px;
}
.col-sm-4 {
    margin:10px;
    width:300px;
    border-style:solid;
    border-color:teal;
}
footer {
    color:white;
    background-color:black;
}
.center {
    margin-left:auto;
    margin-right:auto;
    
}
/*medium screen*/
@media only screen and (min-width:767px) {

}
/*wide screen*/
@media only screen and (min-width:900px) {
}
/*small screen*/
@media only screen and (min-width:400px) {
}